SECUREDB_ENV=dev
SECUREDB_DATABASE_URL=postgresql+psycopg://securedb_app:CHANGE_ME_APP@localhost:5432/securedb
SECUREDB_MIGRATION_DATABASE_URL=postgresql+psycopg://securedb_owner:CHANGE_ME_OWNER@localhost:5432/securedb
SECUREDB_LOG_LEVEL=INFO
# Master key: "keychain" (OS credential store) or "file" (passphrase-protected key file)
SECUREDB_MASTER_KEY_STORE=keychain
# With the file store also set:
# SECUREDB_MASTER_KEY_FILE=securedb-master.key
# SECUREDB_MASTER_KEY_PASSPHRASE=
