Flask
pymongo
Flask-JWT-Extended
Flask-Limiter
bcrypt
marshmallow
requests
email-validator
pycryptodome


# Google OAuth
google-auth
google-auth-oauthlib
google-auth-httplib2
cachecontrol
oauthlib

# Splunk SDK (if you're using Splunk log fetching)
splunk-sdk

# For .env support (optional, if you use dotenv)
python-dotenv
